In [69]:
import pandas as pd

In [70]:
import os

In [71]:
os.makedirs('dados tratados', exist_ok=True)

In [72]:
df = pd.read_csv('EXP_2020.csv', sep=';', encoding='latin1')
df.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
0,2020,1,39211900,10,244,SP,4,817600,1,1,2
1,2020,3,48183000,10,573,SC,1,917800,1,1,69
2,2020,1,85364100,11,756,SP,1,817800,341,12,1668
3,2020,7,69109000,11,586,SP,7,147800,13,8,686
4,2020,6,87089990,10,97,SP,7,147600,5960,5960,49740

In [73]:
df = df.rename(columns={
    'CO_ANO': 'Ano',
    'CO_MES': 'Mes',
    'SG_UF_NCM': 'Estado',
    'CO_NCM': 'Produto',
    'QT_ESTAT': 'Quantidade'
})

In [74]:
df = df[['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']]
df.head()

    Ano  Mes Estado   Produto  Quantidade
0  2020    1     SP  39211900           1
1  2020    3     SC  48183000           1
2  2020    1     SP  85364100         341
3  2020    7     SP  69109000          13
4  2020    6     SP  87089990        5960

In [75]:
colunas_esperadas = ['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']
if not all(col in df.columns for col in colunas_esperadas):
    raise ValueError("Colunas ausentes no arquivo!")

In [76]:
df = df.dropna(subset=['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade'])

In [ ]:
df.to_csv('dados tratados/exportacoes 2020.csv', index=False)

In [ ]:
df = pd.read_csv('EXP_2021.csv', sep=';', encoding='latin1')
df.head()

In [ ]:
df = df.rename(columns={
    'CO_ANO': 'Ano',
    'CO_MES': 'Mes',
    'SG_UF_NCM': 'Estado',
    'CO_NCM': 'Produto',
    'QT_ESTAT': 'Quantidade'
})

In [ ]:
df = df[['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']]
df.head()

In [ ]:
colunas_esperadas = ['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']
if not all(col in df.columns for col in colunas_esperadas):
    raise ValueError("Colunas ausentes no arquivo!")

In [ ]:
df = df.dropna(subset=['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade'])

In [ ]:
df.to_csv('dados tratados/exportacoes 2021.csv', index=False)

In [ ]:
df = pd.read_csv('IMP_2020.csv', sep=';', encoding='latin1')
df.head()

In [ ]:
df = df.rename(columns={
    'CO_ANO': 'Ano',
    'CO_MES': 'Mes',
    'SG_UF_NCM': 'Estado',
    'CO_NCM': 'Produto',
    'QT_ESTAT': 'Quantidade'
})

In [ ]:
df = df[['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']]
df.head()

In [ ]:
colunas_esperadas = ['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']
if not all(col in df.columns for col in colunas_esperadas):
    raise ValueError("Colunas ausentes no arquivo!")

In [ ]:
df = df.dropna(subset=['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade'])

In [ ]:
df.to_csv('dados tratados/importacoes 2020.csv', index=False)

In [ ]:
df = pd.read_csv('IMP_2021.csv', sep=';', encoding='latin1')
df.head()

In [ ]:
df = df.rename(columns={
    'CO_ANO': 'Ano',
    'CO_MES': 'Mes',
    'SG_UF_NCM': 'Estado',
    'CO_NCM': 'Produto',
    'QT_ESTAT': 'Quantidade'
})

In [ ]:
df = df[['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']]
df.head()

In [ ]:
colunas_esperadas = ['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade']
if not all(col in df.columns for col in colunas_esperadas):
    raise ValueError("Colunas ausentes no arquivo!")

In [ ]:
df = df.dropna(subset=['Ano', 'Mes', 'Estado', 'Produto', 'Quantidade'])

In [ ]:
df.to_csv('dados tratados/importacoes 2021.csv', index=False)